{% extends '../template.html' %}
{% load static %}
{% block conteudo %}
    <div class="page-header text-center py-3">
        <h1>Livros de {{ user.username }}</h1>
    </div>
    {% include 'partils/_alertas.html' %}
    <div class="row">
        {% for livro in livros %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                {% if livro.capa_livro == '' %}
                    <img src="{% static 'img/livro.png' %}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{{ livro.capa_livro.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'livro' livro.id %}" class="text-decoration-none text-reset"><h5 class="card-title">{{ livro.nome }}</h5></a>
                    <p>Autor(es): </p>
                    {% for autor in livro.autor.all %}
                        <p class="card-text"> {{ autor.nome }}</p>
                    {% endfor %}
                    <a href="{% url 'edita_livro' livro.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'deleta_livro' livro.id %}" class="btn btn-danger">Deletar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}