{% extends 'template.html' %}
{% load static %}
{% block conteudo %}
			<div class="page-header text-center py-3">
            	<h1>Livros</h1>
        	</div>
			<div class="row">
                {% if livros %}
				{% for livro in livros %}
				<div class="col-sm-4">
			        <div class="card" style="width: 18rem;">
						{% if livro.capa_livro == '' %}
							<img src="{% static 'img/livro.png' %}" class="card-img-top" alt="...">
						{% else %}
							<img src="{{ livro.capa_livro.url }}" class="card-img-top" alt="...">
						{% endif %}
				  		<div class="card-body">
						    <h5 class="card-title">{{ livro.nome }}</h5>
							<p>Autor(es): </p>
							{% for autor in livro.autor.all %}
						    	<p class="card-text"> {{ autor.nome }}</p>
							{% endfor %}
						    <a href="{% url 'livro' livro.id %}" class="btn btn-primary">Visualizar</a>
						</div>
					</div>
				</div>
				{% endfor %}
                {% else%}
                    <div class="col-sm-4">
                        <p class="h5">Livro não encontrado!</p>
                    </div>
                {% endif %}
			</div>
{% endblock %}